.stats {
  //width: 320px;
  //margin: 0 auto;
}

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;

  color: #000;
  background-color: #fff;
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.stats__intro {
  margin: 0;

  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.stats__legend {
  display: block;

  font-size: 20px;
  line-height: 27px;
}

.stats__legend--bottom {
  padding-top: 10px;
  margin-bottom: 40px;

  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: $bg-darkgrey;
}

.stats__legend--top {
  display: none;
}

.stats_legend sup {
  top: -0.25em;
  font-size: 90%;
}

.stats__list {
  width: 100%;
  border-collapse: collapse;
}

.stats__list tr {
  color: #fff;
  background-color: #404040;

  &:nth-child(2) {
    background-color: #4e4e4e;
  }
  
  &:nth-child(3) {
    background-color: #353535;
  }

  &:nth-child(4) {
    background-color: #404040;
  }
}

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;

  vertical-align: top;
}

.stats__value {
  padding-right: 0;

  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}

.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
  line-height: 0;
}

.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .stats {
    width: 84%;
    max-width: 1200px;
    margin-top: -177px;
    margin-left: auto;
    margin-right: auto;
  }

  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      content: '';

      position: absolute;
      top: 27px;
      left: -15px;

      border: 15px solid transparent;
      border-bottom-color: #fff;
      transform: rotate(45deg);
    }
  }

  .stats__slogan {
    width: 50%;
    @include outline();

    font-size: 40px;
    line-height: 40px;
    text-transform: inherit;
    text-align: left;
  }

  .stats__intro {
    @include outline();
    width: 40%;
    margin-top: 5px;
    padding-right: 47px;

    text-align: left;
  }

  .stats__legend--top {
    @include outline();
    display: block;
    width: 50%;

    color: rgba(0, 0, 0, 0.3);
  }

  .stats__slogan br {
    display: none;
  }

  .stats__legend--bottom {
    display: none;
  }

  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .stats__list tr {
    width: 50%;
    box-sizing: border-box;
    padding: 25px 35px;
    padding-bottom: 28px;
  }

  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }

  .stats__value {
    margin-bottom: 7px;

    font-size: 72px;
    line-height: 72px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .stats__legend--bottom {
    display: none;
  }

  .stats__field br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    display: flex;

    //width: 960px;
    margin-top: -164px;
    margin-bottom: 80px;
  }

  .stats__header {
    //display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 240px;

    &::before {
      top: 22px;
    }
  }

  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }

  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0;
  }

  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }

  .stats__list {
    display: flex;
    width: 640px;
    flex-grow: 1;
  }

  .stats__list tbody {
    display: flex;
  }
}